@import url(../css/reset.css);
body {
  line-height: 1.43;
  color: #333;
}

.header {
  background-color: #f6f8fa;
  width: 100%;
}

.header__inner {
  width: 100%;
  height: 4.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__inner .header__title {
  background: url(../img/band_us/spr_intro.png) no-repeat 0 -98px;
  width: 78px;
  height: 29px;
  margin-left: 17px;
}

.header__inner .header__title .band-logo {
  height: 100%;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  overflow: hidden;
}

.header__inner .header__menu--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  position: absolute;
  right: 30px;
}

.header__inner .header__menu--right .current-lang--ko {
  position: relative;
  padding-right: 13px;
}

.header__inner .header__menu--right .current-lang--ko:before {
  position: absolute;
  top: 9px;
  right: 0;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #777;
  content: "";
}

.header__inner .header__menu--right .link--sign-up,
.header__inner .header__menu--right .button--log-in {
  margin-left: 27px;
}

.header__inner .header__menu--right .button--log-in {
  height: 35px;
  padding: 0 23px;
  line-height: 35px;
  border-radius: 2px;
  background-color: #21c531;
  color: #fafafa;
}

main {
  background-color: #f6f8fa;
}

.sign-up-section {
  width: 100%;
  background-color: #f6f8fa;
  padding-top: 4.75rem;
}

.sign-up-section__inner {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sign-up-section__img {
  width: 54%;
  height: 695px;
  background: url(../img/band_us/bg_sloganImg.jpg) no-repeat 0 0/100% auto;
  margin-right: 3.125rem;
}

.sign-up-section__right-wrapper {
  width: 46%;
}

.sign-up-section__title {
  margin-top: 29px;
  font-size: 48px;
  font-weight: 500;
  color: #222;
  letter-spacing: -1px;
  line-height: 1.21;
}

.sign-up-section__explanation {
  font-size: 16px;
  font-weight: 400;
  color: #444;
  margin-top: 13px;
}

.sign-up-section__form {
  margin-top: 20px;
}

.sign-up-section__form fieldset {
  width: 21.25rem;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 2px #f5f5f5;
          box-shadow: 2px 2px 2px #f5f5f5;
}

.sign-up-section__input--sign-up, .sign-up-section__input--password, .sign-up-section__input--name, .sign-up-section__input--birthday {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 46px;
  padding: 11px 17px 13px;
  width: 100%;
}

.sign-up-section__input--sign-up::-webkit-input-placeholder, .sign-up-section__input--password::-webkit-input-placeholder, .sign-up-section__input--name::-webkit-input-placeholder, .sign-up-section__input--birthday::-webkit-input-placeholder {
  color: #aaa;
}

.sign-up-section__input--sign-up:-ms-input-placeholder, .sign-up-section__input--password:-ms-input-placeholder, .sign-up-section__input--name:-ms-input-placeholder, .sign-up-section__input--birthday:-ms-input-placeholder {
  color: #aaa;
}

.sign-up-section__input--sign-up::-ms-input-placeholder, .sign-up-section__input--password::-ms-input-placeholder, .sign-up-section__input--name::-ms-input-placeholder, .sign-up-section__input--birthday::-ms-input-placeholder {
  color: #aaa;
}

.sign-up-section__input--sign-up::placeholder, .sign-up-section__input--password::placeholder, .sign-up-section__input--name::placeholder, .sign-up-section__input--birthday::placeholder {
  color: #aaa;
}

.sign-up-section__input--password, .sign-up-section__input--name, .sign-up-section__input--birthday {
  border-top: 1px solid #f5f5f5;
}

.sign-up-section__btn {
  width: 21.25rem;
  background-color: #21c501;
  height: 3.375rem;
  color: #fff;
  margin-top: 1.25rem;
}

.sign-up-section__btnSNS {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 21.25rem;
  margin-top: 20px;
}

.sign-up-section__btnSNS .facebook-btn--sign-up,
.sign-up-section__btnSNS .naver-btn--sign-up {
  font-size: 0.8125rem;
  height: 2.75rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
  border: 1px solid #ebebeb;
  background-color: #fff;
  padding-left: 1.625rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-up-section__btnSNS .facebook-btn--sign-up a,
.sign-up-section__btnSNS .naver-btn--sign-up a {
  display: block;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sign-up-section__btnSNS .facebook-btn--sign-up:before {
  width: 22px;
  height: 22px;
  overflow: hidden;
  display: inline-block;
  background-repeat: no-repeat;
  position: absolute;
  left: 7px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  content: "";
  background-image: url(../img/band_us/spr_intro.png);
  background-position: 0 -129px;
}

.sign-up-section__btnSNS .naver-btn--sign-up {
  margin-left: 0.75rem;
}

.sign-up-section__btnSNS .naver-btn--sign-up:before {
  width: 23px;
  height: 22px;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  left: 7px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-repeat: no-repeat;
  content: "";
  background-image: url(../img/band_us/spr_intro.png);
  background-position: -184px -98px;
}

.sign-up-section__log-in-text {
  margin-top: 1.75rem;
  font-size: 13px;
}

.sign-up-section__log-in-text .sign-up-section__btn--log-in {
  margin-left: 0.625rem;
  background-color: transparent;
  color: #2ecc71;
  text-decoration: underline;
  font-weight: 700;
}

.main-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../img/band_us/bg_intro.jpg) no-repeat center/cover;
  text-align: center;
  width: 100%;
  height: 33.75rem;
}

.main-img__title {
  font-size: 2.625rem;
  font-weight: 500;
  text-shadow: 0 1px 1px black;
  color: #fff;
  letter-spacing: -1px;
}

.main-img__exp {
  margin-top: 1.125rem;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 1.63;
  word-break: break-word;
}

.band-functions {
  text-align: center;
  width: 100%;
  padding: 3.125rem 0;
  background-color: #fff;
}

.band-functions__el--01, .band-functions__el--02, .band-functions__el--03 {
  display: inline-block;
  width: 18.75rem;
}

.band-functions__el--01 img, .band-functions__el--02 img, .band-functions__el--03 img {
  width: 100%;
}

.band-functions__el--01 figcaption, .band-functions__el--02 figcaption, .band-functions__el--03 figcaption {
  color: #444;
  margin-top: 1rem;
  font-size: 15px;
  text-align: left;
}

.band-functions__el--01 figcaption strong, .band-functions__el--02 figcaption strong, .band-functions__el--03 figcaption strong {
  display: inline-block;
  color: #222;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0.375rem;
}

.band-functions__el--02, .band-functions__el--03 {
  margin-left: 2.875rem;
}
/*# sourceMappingURL=naverBand.css.map */