/* 폰트 불러오기 */
@font-face {
  font-family: "Montserrat";
  src: url(../font/AnyConv.com__Montserrat-Bold.woff),
    url(../font/AnyConv.com__Montserrat-Medium.woff),
    url(../font/AnyConv.com__Montserrat-Regular.woff),
    url(../font/AnyConv.com__Montserrat-SemiBold.woff);
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Noto+Sans+KR&display=swap");

/* 변수 */
$browser-rem-font-size: 16;
$browser-em-font-size: 16;
$container-width: 1200px;
$sm-size-font: 24px;
$md-size-font: 32px;
$lg-size-font: 60px;

/* mixin */
@mixin container-width {
  margin: 0 auto;
  max-width: 1200px;
  width: 62.5%;
}
@mixin border-setting($b-px, $b-color) {
  border: #{$b-px}px solid $b-color;
}
@mixin transition-50 {
  transform: translate(-50%, -50%);
}
@mixin h2-title {
  text-align: center;
  font-size: rem(32);
  padding-top: rem(100);
}

/* 함수 */
@function rem($pixels, $context-rem: $browser-rem-font-size) {
  @return #{$pixels/$context-rem}rem;
}
@function em($pixels, $context-em: $browser-em-font-size) {
  @return #{$pixels/$context-em}em;
}

/* 노말라이즈 */
body {
  font-family: "Montserrat", "Noto Sans KR", sans-serif;
  font-weight: bold;
  height: 3000px;
}

.list-on {
  background: #000;
  color: #fff;
  padding: rem(12) rem(14);
  border-radius: 30px;
}
/* pc 화면  */
.grid-container-1200 {
  @include container-width;
  position: relative;
}
.top-area {
  width: 100%;
  height: rem(600);
  padding-top: rem(38);
  position: relative;
  z-index: 10;
  background: #fff;
  text-align: center;
}
.grid-container-1200::before {
  position: absolute;
  left: 5%;
  content: "";
  display: block;
  width: 90%;
  height: rem(600);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
}
header {
  width: 100%;
}
h1.main-logo {
  text-indent: 101%;
  overflow: hidden;
  width: 76px;
  height: 79px;
  background: url(../img/main-page/main-logo.svg) no-repeat center;
  background-size: 30px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  width: rem(634);
  .gnb {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    li {
      font-size: 1rem;
    }
  }
}
.title {
  margin-top: 7.5rem;
  text-align: center;
  .my-name {
    font-size: rem(60);
  }
  .exp {
    font-weight: 500;
    font-size: rem(24);
    margin-top: rem(23);
  }
}
.show-btn {
  background: #000;
  color: #fff;
  padding: rem(12) rem(14);
  border-radius: 30px;
  margin-top: rem(40);
}
.show-btn.resume-btn {
  height: rem(100);
}
.about-me-area {
  width: 100%;
  position: relative;
  height: 1000px;
}
.about-me-title {
  @include h2-title();
}

.skills-area-title {
  @include h2-title();
}
.using-now-title {
  font-size: $sm-size-font;
  margin: rem(115) 0;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .skill-el {
    text-align: center;
    figure {
      width: rem(110);
      height: auto;
      padding-top: rem(80);
      margin: 0 auto;
      position: relative;
    }
  }
}

.skill-list2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: rem(30);
  .skill-el2 {
    text-align: center;
    figure {
      width: rem(130);
      height: auto;
      padding-top: rem(80);
      margin: 0 auto;
      position: relative;
    }
  }
}

@for $i from 1 to 5 {
  .skill-el:nth-child(#{$i}) figure {
    background: url(../img/main-page/skill-icon#{$i}.svg) no-repeat;
    background-size: 100% 50px;
  }
}
@for $i from 1 to 5 {
  .skill-el2:nth-child(#{$i}) figure {
    background: url(../img/main-page/skill-icon#{$i+4}.svg) no-repeat;
    background-size: 100% 50px;
  }
}
@for $i from 5 to 9 {
  .skill-el:nth-child(#{$i}) {
    margin-top: rem(30);
  }
}

.learning {
  font-size: $sm-size-font;
  margin: rem(115) 0;
}
.learning-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .learning-el {
    text-align: center;
    figure {
      width: rem(130);
      height: auto;
      padding-top: rem(80);
      margin: 0 auto;
      position: relative;
    }
  }
}

@for $i from 1 to 5 {
  .learning-el:nth-child(#{$i}) figure {
    background: url(../img/main-page/learning-icon#{$i}.svg) no-repeat;
    background-size: 100% 50px;
  }
}

.other-skills {
  font-size: $sm-size-font;
  margin: rem(115) 0;
}

.other-skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .other-skills-el {
    text-align: center;
    figure {
      width: rem(130);
      height: auto;
      padding-top: rem(80);
      margin: 0 auto;
      position: relative;
    }
  }
}

@for $i from 1 to 3 {
  .other-skills-el:nth-child(#{$i}) figure {
    background: url(../img/main-page/other-#{$i}.svg) no-repeat;
    background-size: 100% 50px;
  }
}
/* 테블릿 */
@media all and (max-width: 960px) {
}
