$browser-rem-font-size: 16;
@font-face {
  font-family: "SegoeUI";
  src: url(../font/ms-font/SegoeUI-Light.woff) format(‘woff’);
  font-weight: 300;
}
@font-face {
  font-family: "SegoeUI";
  src: url(../font/ms-font/SegoeUI.woff) format(‘woff’);
  font-weight: 400;
}
@font-face {
  font-family: "SegoeUI";
  src: url(../font/ms-font/SegoeUI-SemiBold.woff) format(‘woff’);
  font-weight: 600;
}
@font-face {
  font-family: "SegoeUI";
  src: url(../font/ms-font/SegoeUI-Bold.woff) format(‘woff’);
  font-weight: 700;
}

@function rem($pixels, $context-rem: $browser-rem-font-size) {
  @return #{$pixels/$context-rem}rem;
}

body {
  font-family: "SegoeUI", sans-serif;
}
.main-container {
  max-width: calc(1600px + 10%);
  padding: 0 5%;
  margin: 0 auto;
  box-sizing: border-box;
}
.inner-container {
  width: 100%;
}
.header {
  font-size: rem(13);
  margin-bottom: rem(2);
  width: 100%;
  display: flex;
  &__main-logo {
    box-sizing: border-box;
    padding: rem(16) rem(6) rem(16) rem(10);
    position: relative;
    width: rem(137);
    height: rem(54);
    &--inner {
      background: url(../img/www_microsoft_com/RE1Mu3b.png) no-repeat 0 0 / 100%
        auto;
      display: block;
      width: rem(108);
      height: 100%;
    }
    &--hidden {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
    }
  }
  &__gnb {
    flex: 1 1 auto;
    .header__gnb--inner {
      display: flex;
      .header__gnb--el {
        & a {
          box-sizing: border-box;
          padding: rem(16) rem(8) rem(10);
          margin-top: rem(1);
          border: 1px solid transparent;
          height: rem(48);
          display: inline-block;
          color: #262626;
        }
      }
    }
  }
  &__right-nav {
    display: flex;
    height: auto;
    &--el01 {
      padding: 0 rem(1) 0 rem(2);
      margin-right: rem(15);
      position: relative;
      & .header__right-nav--slide-down {
        background: transparent;
        box-sizing: border-box;
        border: 1px solid transparent;
        padding: rem(16) rem(20) rem(16) rem(15);
        margin: rem(1) rem(5) rem(1) 0;
        &::after {
          content: "";
          display: inline-block;
          background: url(../img/www_microsoft_com/img_slide_down_icon.png)
            no-repeat 0 0 / 100% auto;
          width: rem(13);
          margin-top: rem(4);
          margin-left: rem(2);
          height: rem(21);
          position: absolute;
        }
      }
    }
    &--el02 {
      background: url(../img/www_microsoft_com/img_search_icon.png) no-repeat
        center / rem(20) auto;
      height: 100%;
      box-sizing: border-box;
      width: rem(35.97);
      & .search-bar {
        display: none;
      }
    }
    &--el03 {
      & a {
        display: block;
        background: url(../img/www_microsoft_com/img_shopping_cart.png)
          no-repeat center / rem(28) auto;
        width: rem(33);
        height: 100%;
      }
    }
    &--el04 {
      display: flex;
      align-items: center;
      & a {
        display: block;
        background: url(../img/www_microsoft_com/img_plus_user_icon.svg)
          no-repeat center / rem(32) auto;
        width: rem(32);
        height: rem(32);
        margin: rem(8);
      }
    }
  }
}

.slider {
  position: relative;
  width: 100%;
  &__el {
    width: 100%;
    position: relative;
    &--inner {
      position: absolute;
      top: rem(24);
      left: 50%;
      transform: translateX(-50%);
      margin: 0 auto;
      width: 88%;
    }
    &--data {
      display: inline-block;
      width: rem(440);
      .yellow-box {
        display: inline-block;
        background: #ffb900;
        color: #000000;
        font-size: rem(15);
        padding: rem(3) rem(14) rem(5);
        margin: rem(4) 0;
        font-weight: 600;
      }
      .surface-pro-8 {
        margin-top: rem(4);
        font-size: 24px;
        line-height: 28px;
        padding-bottom: rem(4);
        font-weight: 600;
        letter-spacing: -0.24px;
        &__exp {
          font-size: rem(15);
          margin-top: rem(12);
          line-height: rem(20);
        }
      }
      .shopping-now-btn {
        font-size: rem(15);
        font-weight: 600;
        background-color: black;
        color: #fff;
        margin-top: rem(24);
        padding: rem(8) rem(20);
        border: 2px solid transparent;
      }
    }
    & img {
      width: 100%;
      height: auto;
    }
  }
  &__btn {
    position: absolute;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
    width: rem(44);
    height: rem(44);
    background: #fafafa url(../img/www_microsoft_com/slide_btn_right.png)
      no-repeat 55% center;
  }
  .btn--left {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .btn--right {
    transform: rotate(180deg);
    background-position: 45% 55%;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}
